.ico_corp{display:inline-block;overflow:hidden;font-size:0;line-height:0;background:url(../img/ico_corp_181031.png) no-repeat;text-indent:-9999px;vertical-align:top}
body>*{
  /*! border: 2px solid #333; */
  max-width: 1760px;
  margin: 0 auto;
  line-height: 1.5;
  font-family: 'Noto Sans KR', sans-serif;
  
  font-size: 16px;
}
/* 상단영역 */
header>*{
}
header{
  position: fixed;
  max-width: 100%;
  width: 100%;
  z-index: 1;
  transition: all 0.3s;
  overflow: hidden;
}

header div.headerIn{
  /*! max-width: 1760px; */
  margin: 0 auto;
  position: relative;
  padding: 0 50px;
  transition: all 1s;
  /*! overflow: hidden; */
}
header h1{
  
  float: left;
}
header h1 a{
  
  display: block;
  width: 66px;
  overflow: hidden;
  height: 60px;
}
header h1 a span{
  
  background: url(../img/logo_kakao2.png);
  display: block;
  overflow: hidden;
  height: 20px;
  margin-top: 20px;
  text-indent: -9999px;
  /*! width: 20px; */
}
header ul.mainmenu{
  
  text-align: center;
  /*! position: relative; */
}
header ul.mainmenu>li{
  display: inline-block;
  vertical-align: top;
  /*! color: #fff; */
}
header ul.mainmenu>li ul{
 display: none;
 position: absolute;
 width: 100%;
 left: 0;
 text-align: center;
 border: 1px solid #d4d4d4;
 height: 200px;
 border-bottom: 0;
}
.black{
  color: black !important;
}
.white{
  color: white !important;
}
/* 슬라이드 제이퀘리 부분 */
.list1{
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.list1 li{
  all:unset;
  width: 100px !important;
  height: 100px !important;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
}
header ul.mainmenu>li ul li{
  display: inline-block;
  width: 8.6%;
  height: 100%;
  /*! border: 1px solid #d4d4d4; */
  border-bottom: 0;
  border-top: 0;
  margin-left: -4px;
}
header ul.mainmenu>li ul li+li{
  /*! border-left: 2px solid; */
  
}
header ul.mainmenu>li h2+div{
  position: absolute;
  width: 100%;
  left: 0px;
}

header ul.mainmenu>li h2 a{
  
  padding: 0 10px;
  line-height: 58px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
header ul.mainmenu span {
  
  display: block;
  width: 100%;
  height: 3px;
}
div.headerIn ul.mainmenu > li:first-child ul li a{
  
  display: block;
}
div.headerIn ul.mainmenu > li:first-child ul li:first-child a:nth-child(n+1){
  
  /*! display: block; */
}
header ul.mainmenu > li:last-child a{
  
}
header ul.mainmenu > li:last-child i{
  
  color: #000;
  background-image: url(../img/ico_corp_181031.png);
  width: 16px;
  height: 14px;
  background-position: -175px 0px;
  display: inline-block;
  margin-left: 35px;
  position: absolute;
  top: 23px;
}
header ul.lang{
  position: absolute;
  right: 20px;
  top: 8px;
  /*! left: 1600px; */
  font-size: 14px;
}
header ul.lang li{
  
  float: left;
}
header ul.lang li+li a{
  font-size: 14px;
  color: #666;
  font-weight: lighter;
}
header ul.lang li+li a:hover{
  cursor: pointer;
  color: black;
  font-weight:normal ;
}
header ul.lang li a{
  
  padding: 0 5px;
  line-height: 3;
  display: block;
}
header ul.lang li:first-child a{
  
  color: white;
}
header .headerIn .mainmenu > li:first-child ul li{
  
  padding: 57px 1px 60px 0;
  border: 1px solid #d4d4d4;
  /*! display: table; */
  /*! float: left; */
  border-top: 0;
  /*! overflow: hidden; */
}
header .headerIn .mainmenu > li:first-child ul li:nth-child(-n+5){
  
  border-right: 0;
}

/* 타이틀 영역 */
#title{
  width: 100%;
  max-width: 100%;
  height: 870px;
  position: relative;
}


#title .titlew li{
  height: 870px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
  padding-left: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
#title .titlew  li:nth-child(1){
 background-image: url(../img/bg1.png); 
}
#title .titlew  li:nth-child(2){
 background-image: url(../img/bg3.png); 
}
#title .titlew  li:nth-child(3){
 background-image: url(../img/bg2.png); 
}
#title .titlew  li:nth-child(4){
 background-image: url(../img/bg4.png); 
}
#title .titlew li h2{
  margin-top: 100px;
  /*! margin-left: 70px; */
  line-height: 2;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
#title .titlew li h2+a{
  width: 150px;
  background-color: #ccc;
  display: block;
  line-height: 2.5;
  padding-left: 30px;
  margin-top: 40px;
}


#title .titlew li h2+a span{
  background-image: url(../img/ico_corp_181031.png);
  width: 5px;
  height: 12px;
  background-position: -80px -60px;
  display: inline-block;
  margin-left: 35px;
}
#title .titlew li h2 + a:hover span{
    background-image: url(../img/ico_corp_181031.png);
    width: 6px;
    height: 12px;
    background-position: -130px -65px;
    display: inline-block;
    margin-left: 35px;
}
.current{
  display: block !important;
}
.cpage{
  color: white;;
  position: absolute !important;;
  bottom: 20px !important;;
  right: 20px !important;;
  font-size: 20px !important;;
}
.list1{
 
}
.list1 li{
  width: 15px !important;
  height: 15px !important;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  background-image: none !important;
  margin: 0 10px;
}
.clist{
  background-color: red !important;
}
/* 내용영역 */
section{
  
}
section div{
  
}
section div.sec0{
  
  /*! width: 1774px; */
}
section div div.sec1{
  
  padding: 30px 24px 0;
}
section div div.sec2{
  
  /*! display: inline-flex; */
  position: relative;
  padding-top: 70px;
  /*! overflow: hidden; */
  padding: 70px 0 185px;
}
section div div.sec1 article{
  
  display: inline-block;
  width: 32.3%;
  vertical-align: text-top;
  padding: 0 20px;
  box-sizing: border-box;
}
section div div.sec1 article h4{
  padding-top: 30px;
}
section div div.sec1 article:nth-child(2) span{

  /*! display: inline-block; */
  /*! clear: both; */
  float: left;
  background-image: url(../img/ico_corp_181031.png);
  width: 18px;
  height: 14px;
  background-position: -40px -20px;
  margin: 15px 0 0 21px;
  /*! padding-top: 30px; */
}
section div div.sec1 article:nth-child(2) p:nth-of-type(1) {
  /*! padding-top: 30px; */
  font-size: 32px;
  /*! line-height: 45px; */
  /*! display: inline-block; */
  float: left;
}
section div div.sec1 article:nth-child(2) p:nth-of-type(2){
  
  /*! float: left; */
  /*! line-height: 33px; */
  font-size: 20px;
  display: inline-block;
  margin: 13px 6.5px;
}
section div div.sec1 article:nth-child(2) time{
  display: block;
  padding-top: 46px;
}

section div div.sec1 article:nth-child(2) div{
  
  padding-top: 30px;
  overflow: hidden;
}
section div div.sec1 article+article+article p{
  
  
  padding-top: 46px;
}
section div div.sec2 article{
  
  display: inline-block;
  width: 32.33%;
  /*! overflow: hidden; */
  position: relative;
  box-sizing: border-box;
}
section div.sec2 h3{
  position: 
absolute; 
  top: 15px;
  left: 40px;
}  
section div.sec2 h4{
  
  padding: 30px 0;
  font-size: 20px;
}
section div.sec2 article{
  
  /*! max-width: 554px; */
  padding: 0 20px;
}
section div.sec2 article:nth-child(1):before{
  content: "";
  background-image: url(../img/94.png);
  width: 554px;
  height: 310px;
  display: block;
}
section div.sec2 article:nth-child(2):before{
  content: "";
  background-image: url(../img/95.png);
  width: 554px;
  height: 310px;
  display: block;
}
section div.sec2 article:nth-child(3):before{
  content: "";
  background-image: url(../img/3254.png);
  width: 554px;
  height: 310px;
  display: block;
}

/* 영역 영역 */
footer{
  
  /*! padding: 200px; */
  position: relative;
  overflow: hidden;
}
footer ul li{
  
  float: left;
  margin-right: 12px;
}
footer ul{
  overflow: hidden;
}
footer p{
  /*! float: left; */
  /*! clear: both; */
  line-height: 1.5;
  /*! position: absolute; */
  /*! bottom: -50px; */
}
footer first:div{
  
  float: left;
}
footer div:nth-child(1){
  float: left;
}
footer div:nth-child(2){
  float: right;
}
footer div select{
  
  all: unset;
  cursor: pointer;
  font-size: 12px;
  /*! border: 1px solid; */
  border-bottom: 1px solid;
  overflow: visible;
}
footer div h2::after{
  content:"";
  width: 12px;
  height: 9px;
  background-image: url(../img/ico_corp_181031.png);
  background-position: -143px -65px;
  /*! margin: 42px; */
  /*! background-color: red; */
  /*! border: 1px solid red; */
  display: block;
  position: relative;
  /*! top: -100px; */
  /*! z-index: 16; */
  /*! background-position: 0; */
  left: 103px;
  top: -10px;
}
footer div select:hover{
 /*! transition: all 1s; */
 color: gray;
}
footer div h2{
  float: left;
  text-indent: -9999px;
  /*! position: relative; */
}
footer li:nth-of-type(-n+3):after,footer li:nth-of-type(2n+5):after {
  content: "";
  background-image: url(../img/ico_corp_181031.png);
  width: 7px;
  height: 4px;
  background-position: -275px -25px;
  display: inline-block;
  vertical-align: super;
  margin-left: 9px
}

